## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7*7*7*7)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"

In [ ]:
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter="The diameter of {} is 12742 kilometers".format(planet)

In [ ]:
print(diameter)

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

** What is the main difference between a tuple and a list? **

he main differences between lists and tuples are,Lists are enclosed in brackets([]) and their elements and size can be changed,while tuples are enclosed in parent

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >>user@domain.com
Your domain is: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [ ]:
st = "Is there a dog here?"
findDog(st)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
value = 'This dog runs faster than the other dog dude!';

In [ ]:
def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(value)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
speed="Your speed is more than 81"
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee_names = ["Gowry", "Durga", "hema", "virat", "goms", "ram"]
employee_salaries = {}
for employee in employee_names:
    while True: # Input validation loop
        try:
            employee_salaries[employee] = int(input(f"Enter {employee}'s salary: ")) 
            break
        except ValueError:
            print("Invalid input")
    print(employee_salaries)
    total = sum(employee_salaries.values())
    print(total)

Enter Gowry's salary: 100000
{'Gowry': 100000}
100000
Enter Durga's salary: 200000
{'Gowry': 100000, 'Durga': 200000}
300000
Enter hema's salary: 40000
{'Gowry': 100000, 'Durga': 200000, 'hema': 40000}
340000
Enter virat's salary: 4890
{'Gowry': 100000, 'Durga': 200000, 'hema': 40000, 'virat': 4890}
344890
Enter goms's salary: 50000
{'Gowry': 100000, 'Durga': 200000, 'hema': 40000, 'virat': 4890, 'goms': 50000}
394890
Enter ram's salary: 300000
{'Gowry': 100000, 'Durga': 200000, 'hema': 40000, 'virat': 4890, 'goms': 50000, 'ram': 300000}
694890

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
d1={"Empid":101,
    "Empname":'Gowry', 
    "Basicpay":5000}
d2={"DeptName":'CSE',  
    "DeptId":104}

In [ ]:
e = d1.copy()
e.update(d2)
print(e)

{'Empid': 101, 'Empname': 'Gowry', 'Basicpay': 5000, 'DeptName': 'CSE', 'DeptId': 104}